/* AUTO: chip visibility 1..40 and cols 1..8 */
.farkpg-chips-1 .farkpg-chip--1 { display: block; }
.farkpg-chips-2 .farkpg-chip--1,
.farkpg-chips-2 .farkpg-chip--2 { display: block; }
.farkpg-chips-3 .farkpg-chip--1,
.farkpg-chips-3 .farkpg-chip--2,
.farkpg-chips-3 .farkpg-chip--3 { display: block; }
.farkpg-chips-4 .farkpg-chip--1,
.farkpg-chips-4 .farkpg-chip--2,
.farkpg-chips-4 .farkpg-chip--3,
.farkpg-chips-4 .farkpg-chip--4 { display: block; }
.farkpg-chips-5 .farkpg-chip--1,
.farkpg-chips-5 .farkpg-chip--2,
.farkpg-chips-5 .farkpg-chip--3,
.farkpg-chips-5 .farkpg-chip--4,
.farkpg-chips-5 .farkpg-chip--5 { display: block; }
.farkpg-chips-6 .farkpg-chip--1,
.farkpg-chips-6 .farkpg-chip--2,
.farkpg-chips-6 .farkpg-chip--3,
.farkpg-chips-6 .farkpg-chip--4,
.farkpg-chips-6 .farkpg-chip--5,
.farkpg-chips-6 .farkpg-chip--6 { display: block; }
.farkpg-chips-7 .farkpg-chip--1,
.farkpg-chips-7 .farkpg-chip--2,
.farkpg-chips-7 .farkpg-chip--3,
.farkpg-chips-7 .farkpg-chip--4,
.farkpg-chips-7 .farkpg-chip--5,
.farkpg-chips-7 .farkpg-chip--6,
.farkpg-chips-7 .farkpg-chip--7 { display: block; }
.farkpg-chips-8 .farkpg-chip--1,
.farkpg-chips-8 .farkpg-chip--2,
.farkpg-chips-8 .farkpg-chip--3,
.farkpg-chips-8 .farkpg-chip--4,
.farkpg-chips-8 .farkpg-chip--5,
.farkpg-chips-8 .farkpg-chip--6,
.farkpg-chips-8 .farkpg-chip--7,
.farkpg-chips-8 .farkpg-chip--8 { display: block; }
.farkpg-chips-9 .farkpg-chip--1,
.farkpg-chips-9 .farkpg-chip--2,
.farkpg-chips-9 .farkpg-chip--3,
.farkpg-chips-9 .farkpg-chip--4,
.farkpg-chips-9 .farkpg-chip--5,
.farkpg-chips-9 .farkpg-chip--6,
.farkpg-chips-9 .farkpg-chip--7,
.farkpg-chips-9 .farkpg-chip--8,
.farkpg-chips-9 .farkpg-chip--9 { display: block; }
.farkpg-chips-10 .farkpg-chip--1,
.farkpg-chips-10 .farkpg-chip--2,
.farkpg-chips-10 .farkpg-chip--3,
.farkpg-chips-10 .farkpg-chip--4,
.farkpg-chips-10 .farkpg-chip--5,
.farkpg-chips-10 .farkpg-chip--6,
.farkpg-chips-10 .farkpg-chip--7,
.farkpg-chips-10 .farkpg-chip--8,
.farkpg-chips-10 .farkpg-chip--9,
.farkpg-chips-10 .farkpg-chip--10 { display: block; }
.farkpg-chips-11 .farkpg-chip--1,
.farkpg-chips-11 .farkpg-chip--2,
.farkpg-chips-11 .farkpg-chip--3,
.farkpg-chips-11 .farkpg-chip--4,
.farkpg-chips-11 .farkpg-chip--5,
.farkpg-chips-11 .farkpg-chip--6,
.farkpg-chips-11 .farkpg-chip--7,
.farkpg-chips-11 .farkpg-chip--8,
.farkpg-chips-11 .farkpg-chip--9,
.farkpg-chips-11 .farkpg-chip--10,
.farkpg-chips-11 .farkpg-chip--11 { display: block; }
.farkpg-chips-12 .farkpg-chip--1,
.farkpg-chips-12 .farkpg-chip--2,
.farkpg-chips-12 .farkpg-chip--3,
.farkpg-chips-12 .farkpg-chip--4,
.farkpg-chips-12 .farkpg-chip--5,
.farkpg-chips-12 .farkpg-chip--6,
.farkpg-chips-12 .farkpg-chip--7,
.farkpg-chips-12 .farkpg-chip--8,
.farkpg-chips-12 .farkpg-chip--9,
.farkpg-chips-12 .farkpg-chip--10,
.farkpg-chips-12 .farkpg-chip--11,
.farkpg-chips-12 .farkpg-chip--12 { display: block; }
.farkpg-chips-13 .farkpg-chip--1,
.farkpg-chips-13 .farkpg-chip--2,
.farkpg-chips-13 .farkpg-chip--3,
.farkpg-chips-13 .farkpg-chip--4,
.farkpg-chips-13 .farkpg-chip--5,
.farkpg-chips-13 .farkpg-chip--6,
.farkpg-chips-13 .farkpg-chip--7,
.farkpg-chips-13 .farkpg-chip--8,
.farkpg-chips-13 .farkpg-chip--9,
.farkpg-chips-13 .farkpg-chip--10,
.farkpg-chips-13 .farkpg-chip--11,
.farkpg-chips-13 .farkpg-chip--12,
.farkpg-chips-13 .farkpg-chip--13 { display: block; }
.farkpg-chips-14 .farkpg-chip--1,
.farkpg-chips-14 .farkpg-chip--2,
.farkpg-chips-14 .farkpg-chip--3,
.farkpg-chips-14 .farkpg-chip--4,
.farkpg-chips-14 .farkpg-chip--5,
.farkpg-chips-14 .farkpg-chip--6,
.farkpg-chips-14 .farkpg-chip--7,
.farkpg-chips-14 .farkpg-chip--8,
.farkpg-chips-14 .farkpg-chip--9,
.farkpg-chips-14 .farkpg-chip--10,
.farkpg-chips-14 .farkpg-chip--11,
.farkpg-chips-14 .farkpg-chip--12,
.farkpg-chips-14 .farkpg-chip--13,
.farkpg-chips-14 .farkpg-chip--14 { display: block; }
.farkpg-chips-15 .farkpg-chip--1,
.farkpg-chips-15 .farkpg-chip--2,
.farkpg-chips-15 .farkpg-chip--3,
.farkpg-chips-15 .farkpg-chip--4,
.farkpg-chips-15 .farkpg-chip--5,
.farkpg-chips-15 .farkpg-chip--6,
.farkpg-chips-15 .farkpg-chip--7,
.farkpg-chips-15 .farkpg-chip--8,
.farkpg-chips-15 .farkpg-chip--9,
.farkpg-chips-15 .farkpg-chip--10,
.farkpg-chips-15 .farkpg-chip--11,
.farkpg-chips-15 .farkpg-chip--12,
.farkpg-chips-15 .farkpg-chip--13,
.farkpg-chips-15 .farkpg-chip--14,
.farkpg-chips-15 .farkpg-chip--15 { display: block; }
.farkpg-chips-16 .farkpg-chip--1,
.farkpg-chips-16 .farkpg-chip--2,
.farkpg-chips-16 .farkpg-chip--3,
.farkpg-chips-16 .farkpg-chip--4,
.farkpg-chips-16 .farkpg-chip--5,
.farkpg-chips-16 .farkpg-chip--6,
.farkpg-chips-16 .farkpg-chip--7,
.farkpg-chips-16 .farkpg-chip--8,
.farkpg-chips-16 .farkpg-chip--9,
.farkpg-chips-16 .farkpg-chip--10,
.farkpg-chips-16 .farkpg-chip--11,
.farkpg-chips-16 .farkpg-chip--12,
.farkpg-chips-16 .farkpg-chip--13,
.farkpg-chips-16 .farkpg-chip--14,
.farkpg-chips-16 .farkpg-chip--15,
.farkpg-chips-16 .farkpg-chip--16 { display: block; }
.farkpg-chips-17 .farkpg-chip--1,
.farkpg-chips-17 .farkpg-chip--2,
.farkpg-chips-17 .farkpg-chip--3,
.farkpg-chips-17 .farkpg-chip--4,
.farkpg-chips-17 .farkpg-chip--5,
.farkpg-chips-17 .farkpg-chip--6,
.farkpg-chips-17 .farkpg-chip--7,
.farkpg-chips-17 .farkpg-chip--8,
.farkpg-chips-17 .farkpg-chip--9,
.farkpg-chips-17 .farkpg-chip--10,
.farkpg-chips-17 .farkpg-chip--11,
.farkpg-chips-17 .farkpg-chip--12,
.farkpg-chips-17 .farkpg-chip--13,
.farkpg-chips-17 .farkpg-chip--14,
.farkpg-chips-17 .farkpg-chip--15,
.farkpg-chips-17 .farkpg-chip--16,
.farkpg-chips-17 .farkpg-chip--17 { display: block; }
.farkpg-chips-18 .farkpg-chip--1,
.farkpg-chips-18 .farkpg-chip--2,
.farkpg-chips-18 .farkpg-chip--3,
.farkpg-chips-18 .farkpg-chip--4,
.farkpg-chips-18 .farkpg-chip--5,
.farkpg-chips-18 .farkpg-chip--6,
.farkpg-chips-18 .farkpg-chip--7,
.farkpg-chips-18 .farkpg-chip--8,
.farkpg-chips-18 .farkpg-chip--9,
.farkpg-chips-18 .farkpg-chip--10,
.farkpg-chips-18 .farkpg-chip--11,
.farkpg-chips-18 .farkpg-chip--12,
.farkpg-chips-18 .farkpg-chip--13,
.farkpg-chips-18 .farkpg-chip--14,
.farkpg-chips-18 .farkpg-chip--15,
.farkpg-chips-18 .farkpg-chip--16,
.farkpg-chips-18 .farkpg-chip--17,
.farkpg-chips-18 .farkpg-chip--18 { display: block; }
.farkpg-chips-19 .farkpg-chip--1,
.farkpg-chips-19 .farkpg-chip--2,
.farkpg-chips-19 .farkpg-chip--3,
.farkpg-chips-19 .farkpg-chip--4,
.farkpg-chips-19 .farkpg-chip--5,
.farkpg-chips-19 .farkpg-chip--6,
.farkpg-chips-19 .farkpg-chip--7,
.farkpg-chips-19 .farkpg-chip--8,
.farkpg-chips-19 .farkpg-chip--9,
.farkpg-chips-19 .farkpg-chip--10,
.farkpg-chips-19 .farkpg-chip--11,
.farkpg-chips-19 .farkpg-chip--12,
.farkpg-chips-19 .farkpg-chip--13,
.farkpg-chips-19 .farkpg-chip--14,
.farkpg-chips-19 .farkpg-chip--15,
.farkpg-chips-19 .farkpg-chip--16,
.farkpg-chips-19 .farkpg-chip--17,
.farkpg-chips-19 .farkpg-chip--18,
.farkpg-chips-19 .farkpg-chip--19 { display: block; }
.farkpg-chips-20 .farkpg-chip--1,
.farkpg-chips-20 .farkpg-chip--2,
.farkpg-chips-20 .farkpg-chip--3,
.farkpg-chips-20 .farkpg-chip--4,
.farkpg-chips-20 .farkpg-chip--5,
.farkpg-chips-20 .farkpg-chip--6,
.farkpg-chips-20 .farkpg-chip--7,
.farkpg-chips-20 .farkpg-chip--8,
.farkpg-chips-20 .farkpg-chip--9,
.farkpg-chips-20 .farkpg-chip--10,
.farkpg-chips-20 .farkpg-chip--11,
.farkpg-chips-20 .farkpg-chip--12,
.farkpg-chips-20 .farkpg-chip--13,
.farkpg-chips-20 .farkpg-chip--14,
.farkpg-chips-20 .farkpg-chip--15,
.farkpg-chips-20 .farkpg-chip--16,
.farkpg-chips-20 .farkpg-chip--17,
.farkpg-chips-20 .farkpg-chip--18,
.farkpg-chips-20 .farkpg-chip--19,
.farkpg-chips-20 .farkpg-chip--20 { display: block; }
.farkpg-chips-21 .farkpg-chip--1,
.farkpg-chips-21 .farkpg-chip--2,
.farkpg-chips-21 .farkpg-chip--3,
.farkpg-chips-21 .farkpg-chip--4,
.farkpg-chips-21 .farkpg-chip--5,
.farkpg-chips-21 .farkpg-chip--6,
.farkpg-chips-21 .farkpg-chip--7,
.farkpg-chips-21 .farkpg-chip--8,
.farkpg-chips-21 .farkpg-chip--9,
.farkpg-chips-21 .farkpg-chip--10,
.farkpg-chips-21 .farkpg-chip--11,
.farkpg-chips-21 .farkpg-chip--12,
.farkpg-chips-21 .farkpg-chip--13,
.farkpg-chips-21 .farkpg-chip--14,
.farkpg-chips-21 .farkpg-chip--15,
.farkpg-chips-21 .farkpg-chip--16,
.farkpg-chips-21 .farkpg-chip--17,
.farkpg-chips-21 .farkpg-chip--18,
.farkpg-chips-21 .farkpg-chip--19,
.farkpg-chips-21 .farkpg-chip--20,
.farkpg-chips-21 .farkpg-chip--21 { display: block; }
.farkpg-chips-22 .farkpg-chip--1,
.farkpg-chips-22 .farkpg-chip--2,
.farkpg-chips-22 .farkpg-chip--3,
.farkpg-chips-22 .farkpg-chip--4,
.farkpg-chips-22 .farkpg-chip--5,
.farkpg-chips-22 .farkpg-chip--6,
.farkpg-chips-22 .farkpg-chip--7,
.farkpg-chips-22 .farkpg-chip--8,
.farkpg-chips-22 .farkpg-chip--9,
.farkpg-chips-22 .farkpg-chip--10,
.farkpg-chips-22 .farkpg-chip--11,
.farkpg-chips-22 .farkpg-chip--12,
.farkpg-chips-22 .farkpg-chip--13,
.farkpg-chips-22 .farkpg-chip--14,
.farkpg-chips-22 .farkpg-chip--15,
.farkpg-chips-22 .farkpg-chip--16,
.farkpg-chips-22 .farkpg-chip--17,
.farkpg-chips-22 .farkpg-chip--18,
.farkpg-chips-22 .farkpg-chip--19,
.farkpg-chips-22 .farkpg-chip--20,
.farkpg-chips-22 .farkpg-chip--21,
.farkpg-chips-22 .farkpg-chip--22 { display: block; }
.farkpg-chips-23 .farkpg-chip--1,
.farkpg-chips-23 .farkpg-chip--2,
.farkpg-chips-23 .farkpg-chip--3,
.farkpg-chips-23 .farkpg-chip--4,
.farkpg-chips-23 .farkpg-chip--5,
.farkpg-chips-23 .farkpg-chip--6,
.farkpg-chips-23 .farkpg-chip--7,
.farkpg-chips-23 .farkpg-chip--8,
.farkpg-chips-23 .farkpg-chip--9,
.farkpg-chips-23 .farkpg-chip--10,
.farkpg-chips-23 .farkpg-chip--11,
.farkpg-chips-23 .farkpg-chip--12,
.farkpg-chips-23 .farkpg-chip--13,
.farkpg-chips-23 .farkpg-chip--14,
.farkpg-chips-23 .farkpg-chip--15,
.farkpg-chips-23 .farkpg-chip--16,
.farkpg-chips-23 .farkpg-chip--17,
.farkpg-chips-23 .farkpg-chip--18,
.farkpg-chips-23 .farkpg-chip--19,
.farkpg-chips-23 .farkpg-chip--20,
.farkpg-chips-23 .farkpg-chip--21,
.farkpg-chips-23 .farkpg-chip--22,
.farkpg-chips-23 .farkpg-chip--23 { display: block; }
.farkpg-chips-24 .farkpg-chip--1,
.farkpg-chips-24 .farkpg-chip--2,
.farkpg-chips-24 .farkpg-chip--3,
.farkpg-chips-24 .farkpg-chip--4,
.farkpg-chips-24 .farkpg-chip--5,
.farkpg-chips-24 .farkpg-chip--6,
.farkpg-chips-24 .farkpg-chip--7,
.farkpg-chips-24 .farkpg-chip--8,
.farkpg-chips-24 .farkpg-chip--9,
.farkpg-chips-24 .farkpg-chip--10,
.farkpg-chips-24 .farkpg-chip--11,
.farkpg-chips-24 .farkpg-chip--12,
.farkpg-chips-24 .farkpg-chip--13,
.farkpg-chips-24 .farkpg-chip--14,
.farkpg-chips-24 .farkpg-chip--15,
.farkpg-chips-24 .farkpg-chip--16,
.farkpg-chips-24 .farkpg-chip--17,
.farkpg-chips-24 .farkpg-chip--18,
.farkpg-chips-24 .farkpg-chip--19,
.farkpg-chips-24 .farkpg-chip--20,
.farkpg-chips-24 .farkpg-chip--21,
.farkpg-chips-24 .farkpg-chip--22,
.farkpg-chips-24 .farkpg-chip--23,
.farkpg-chips-24 .farkpg-chip--24 { display: block; }
.farkpg-chips-25 .farkpg-chip--1,
.farkpg-chips-25 .farkpg-chip--2,
.farkpg-chips-25 .farkpg-chip--3,
.farkpg-chips-25 .farkpg-chip--4,
.farkpg-chips-25 .farkpg-chip--5,
.farkpg-chips-25 .farkpg-chip--6,
.farkpg-chips-25 .farkpg-chip--7,
.farkpg-chips-25 .farkpg-chip--8,
.farkpg-chips-25 .farkpg-chip--9,
.farkpg-chips-25 .farkpg-chip--10,
.farkpg-chips-25 .farkpg-chip--11,
.farkpg-chips-25 .farkpg-chip--12,
.farkpg-chips-25 .farkpg-chip--13,
.farkpg-chips-25 .farkpg-chip--14,
.farkpg-chips-25 .farkpg-chip--15,
.farkpg-chips-25 .farkpg-chip--16,
.farkpg-chips-25 .farkpg-chip--17,
.farkpg-chips-25 .farkpg-chip--18,
.farkpg-chips-25 .farkpg-chip--19,
.farkpg-chips-25 .farkpg-chip--20,
.farkpg-chips-25 .farkpg-chip--21,
.farkpg-chips-25 .farkpg-chip--22,
.farkpg-chips-25 .farkpg-chip--23,
.farkpg-chips-25 .farkpg-chip--24,
.farkpg-chips-25 .farkpg-chip--25 { display: block; }
.farkpg-chips-26 .farkpg-chip--1,
.farkpg-chips-26 .farkpg-chip--2,
.farkpg-chips-26 .farkpg-chip--3,
.farkpg-chips-26 .farkpg-chip--4,
.farkpg-chips-26 .farkpg-chip--5,
.farkpg-chips-26 .farkpg-chip--6,
.farkpg-chips-26 .farkpg-chip--7,
.farkpg-chips-26 .farkpg-chip--8,
.farkpg-chips-26 .farkpg-chip--9,
.farkpg-chips-26 .farkpg-chip--10,
.farkpg-chips-26 .farkpg-chip--11,
.farkpg-chips-26 .farkpg-chip--12,
.farkpg-chips-26 .farkpg-chip--13,
.farkpg-chips-26 .farkpg-chip--14,
.farkpg-chips-26 .farkpg-chip--15,
.farkpg-chips-26 .farkpg-chip--16,
.farkpg-chips-26 .farkpg-chip--17,
.farkpg-chips-26 .farkpg-chip--18,
.farkpg-chips-26 .farkpg-chip--19,
.farkpg-chips-26 .farkpg-chip--20,
.farkpg-chips-26 .farkpg-chip--21,
.farkpg-chips-26 .farkpg-chip--22,
.farkpg-chips-26 .farkpg-chip--23,
.farkpg-chips-26 .farkpg-chip--24,
.farkpg-chips-26 .farkpg-chip--25,
.farkpg-chips-26 .farkpg-chip--26 { display: block; }
.farkpg-chips-27 .farkpg-chip--1,
.farkpg-chips-27 .farkpg-chip--2,
.farkpg-chips-27 .farkpg-chip--3,
.farkpg-chips-27 .farkpg-chip--4,
.farkpg-chips-27 .farkpg-chip--5,
.farkpg-chips-27 .farkpg-chip--6,
.farkpg-chips-27 .farkpg-chip--7,
.farkpg-chips-27 .farkpg-chip--8,
.farkpg-chips-27 .farkpg-chip--9,
.farkpg-chips-27 .farkpg-chip--10,
.farkpg-chips-27 .farkpg-chip--11,
.farkpg-chips-27 .farkpg-chip--12,
.farkpg-chips-27 .farkpg-chip--13,
.farkpg-chips-27 .farkpg-chip--14,
.farkpg-chips-27 .farkpg-chip--15,
.farkpg-chips-27 .farkpg-chip--16,
.farkpg-chips-27 .farkpg-chip--17,
.farkpg-chips-27 .farkpg-chip--18,
.farkpg-chips-27 .farkpg-chip--19,
.farkpg-chips-27 .farkpg-chip--20,
.farkpg-chips-27 .farkpg-chip--21,
.farkpg-chips-27 .farkpg-chip--22,
.farkpg-chips-27 .farkpg-chip--23,
.farkpg-chips-27 .farkpg-chip--24,
.farkpg-chips-27 .farkpg-chip--25,
.farkpg-chips-27 .farkpg-chip--26,
.farkpg-chips-27 .farkpg-chip--27 { display: block; }
.farkpg-chips-28 .farkpg-chip--1,
.farkpg-chips-28 .farkpg-chip--2,
.farkpg-chips-28 .farkpg-chip--3,
.farkpg-chips-28 .farkpg-chip--4,
.farkpg-chips-28 .farkpg-chip--5,
.farkpg-chips-28 .farkpg-chip--6,
.farkpg-chips-28 .farkpg-chip--7,
.farkpg-chips-28 .farkpg-chip--8,
.farkpg-chips-28 .farkpg-chip--9,
.farkpg-chips-28 .farkpg-chip--10,
.farkpg-chips-28 .farkpg-chip--11,
.farkpg-chips-28 .farkpg-chip--12,
.farkpg-chips-28 .farkpg-chip--13,
.farkpg-chips-28 .farkpg-chip--14,
.farkpg-chips-28 .farkpg-chip--15,
.farkpg-chips-28 .farkpg-chip--16,
.farkpg-chips-28 .farkpg-chip--17,
.farkpg-chips-28 .farkpg-chip--18,
.farkpg-chips-28 .farkpg-chip--19,
.farkpg-chips-28 .farkpg-chip--20,
.farkpg-chips-28 .farkpg-chip--21,
.farkpg-chips-28 .farkpg-chip--22,
.farkpg-chips-28 .farkpg-chip--23,
.farkpg-chips-28 .farkpg-chip--24,
.farkpg-chips-28 .farkpg-chip--25,
.farkpg-chips-28 .farkpg-chip--26,
.farkpg-chips-28 .farkpg-chip--27,
.farkpg-chips-28 .farkpg-chip--28 { display: block; }
.farkpg-chips-29 .farkpg-chip--1,
.farkpg-chips-29 .farkpg-chip--2,
.farkpg-chips-29 .farkpg-chip--3,
.farkpg-chips-29 .farkpg-chip--4,
.farkpg-chips-29 .farkpg-chip--5,
.farkpg-chips-29 .farkpg-chip--6,
.farkpg-chips-29 .farkpg-chip--7,
.farkpg-chips-29 .farkpg-chip--8,
.farkpg-chips-29 .farkpg-chip--9,
.farkpg-chips-29 .farkpg-chip--10,
.farkpg-chips-29 .farkpg-chip--11,
.farkpg-chips-29 .farkpg-chip--12,
.farkpg-chips-29 .farkpg-chip--13,
.farkpg-chips-29 .farkpg-chip--14,
.farkpg-chips-29 .farkpg-chip--15,
.farkpg-chips-29 .farkpg-chip--16,
.farkpg-chips-29 .farkpg-chip--17,
.farkpg-chips-29 .farkpg-chip--18,
.farkpg-chips-29 .farkpg-chip--19,
.farkpg-chips-29 .farkpg-chip--20,
.farkpg-chips-29 .farkpg-chip--21,
.farkpg-chips-29 .farkpg-chip--22,
.farkpg-chips-29 .farkpg-chip--23,
.farkpg-chips-29 .farkpg-chip--24,
.farkpg-chips-29 .farkpg-chip--25,
.farkpg-chips-29 .farkpg-chip--26,
.farkpg-chips-29 .farkpg-chip--27,
.farkpg-chips-29 .farkpg-chip--28,
.farkpg-chips-29 .farkpg-chip--29 { display: block; }
.farkpg-chips-30 .farkpg-chip--1,
.farkpg-chips-30 .farkpg-chip--2,
.farkpg-chips-30 .farkpg-chip--3,
.farkpg-chips-30 .farkpg-chip--4,
.farkpg-chips-30 .farkpg-chip--5,
.farkpg-chips-30 .farkpg-chip--6,
.farkpg-chips-30 .farkpg-chip--7,
.farkpg-chips-30 .farkpg-chip--8,
.farkpg-chips-30 .farkpg-chip--9,
.farkpg-chips-30 .farkpg-chip--10,
.farkpg-chips-30 .farkpg-chip--11,
.farkpg-chips-30 .farkpg-chip--12,
.farkpg-chips-30 .farkpg-chip--13,
.farkpg-chips-30 .farkpg-chip--14,
.farkpg-chips-30 .farkpg-chip--15,
.farkpg-chips-30 .farkpg-chip--16,
.farkpg-chips-30 .farkpg-chip--17,
.farkpg-chips-30 .farkpg-chip--18,
.farkpg-chips-30 .farkpg-chip--19,
.farkpg-chips-30 .farkpg-chip--20,
.farkpg-chips-30 .farkpg-chip--21,
.farkpg-chips-30 .farkpg-chip--22,
.farkpg-chips-30 .farkpg-chip--23,
.farkpg-chips-30 .farkpg-chip--24,
.farkpg-chips-30 .farkpg-chip--25,
.farkpg-chips-30 .farkpg-chip--26,
.farkpg-chips-30 .farkpg-chip--27,
.farkpg-chips-30 .farkpg-chip--28,
.farkpg-chips-30 .farkpg-chip--29,
.farkpg-chips-30 .farkpg-chip--30 { display: block; }
.farkpg-chips-31 .farkpg-chip--1,
.farkpg-chips-31 .farkpg-chip--2,
.farkpg-chips-31 .farkpg-chip--3,
.farkpg-chips-31 .farkpg-chip--4,
.farkpg-chips-31 .farkpg-chip--5,
.farkpg-chips-31 .farkpg-chip--6,
.farkpg-chips-31 .farkpg-chip--7,
.farkpg-chips-31 .farkpg-chip--8,
.farkpg-chips-31 .farkpg-chip--9,
.farkpg-chips-31 .farkpg-chip--10,
.farkpg-chips-31 .farkpg-chip--11,
.farkpg-chips-31 .farkpg-chip--12,
.farkpg-chips-31 .farkpg-chip--13,
.farkpg-chips-31 .farkpg-chip--14,
.farkpg-chips-31 .farkpg-chip--15,
.farkpg-chips-31 .farkpg-chip--16,
.farkpg-chips-31 .farkpg-chip--17,
.farkpg-chips-31 .farkpg-chip--18,
.farkpg-chips-31 .farkpg-chip--19,
.farkpg-chips-31 .farkpg-chip--20,
.farkpg-chips-31 .farkpg-chip--21,
.farkpg-chips-31 .farkpg-chip--22,
.farkpg-chips-31 .farkpg-chip--23,
.farkpg-chips-31 .farkpg-chip--24,
.farkpg-chips-31 .farkpg-chip--25,
.farkpg-chips-31 .farkpg-chip--26,
.farkpg-chips-31 .farkpg-chip--27,
.farkpg-chips-31 .farkpg-chip--28,
.farkpg-chips-31 .farkpg-chip--29,
.farkpg-chips-31 .farkpg-chip--30,
.farkpg-chips-31 .farkpg-chip--31 { display: block; }
.farkpg-chips-32 .farkpg-chip--1,
.farkpg-chips-32 .farkpg-chip--2,
.farkpg-chips-32 .farkpg-chip--3,
.farkpg-chips-32 .farkpg-chip--4,
.farkpg-chips-32 .farkpg-chip--5,
.farkpg-chips-32 .farkpg-chip--6,
.farkpg-chips-32 .farkpg-chip--7,
.farkpg-chips-32 .farkpg-chip--8,
.farkpg-chips-32 .farkpg-chip--9,
.farkpg-chips-32 .farkpg-chip--10,
.farkpg-chips-32 .farkpg-chip--11,
.farkpg-chips-32 .farkpg-chip--12,
.farkpg-chips-32 .farkpg-chip--13,
.farkpg-chips-32 .farkpg-chip--14,
.farkpg-chips-32 .farkpg-chip--15,
.farkpg-chips-32 .farkpg-chip--16,
.farkpg-chips-32 .farkpg-chip--17,
.farkpg-chips-32 .farkpg-chip--18,
.farkpg-chips-32 .farkpg-chip--19,
.farkpg-chips-32 .farkpg-chip--20,
.farkpg-chips-32 .farkpg-chip--21,
.farkpg-chips-32 .farkpg-chip--22,
.farkpg-chips-32 .farkpg-chip--23,
.farkpg-chips-32 .farkpg-chip--24,
.farkpg-chips-32 .farkpg-chip--25,
.farkpg-chips-32 .farkpg-chip--26,
.farkpg-chips-32 .farkpg-chip--27,
.farkpg-chips-32 .farkpg-chip--28,
.farkpg-chips-32 .farkpg-chip--29,
.farkpg-chips-32 .farkpg-chip--30,
.farkpg-chips-32 .farkpg-chip--31,
.farkpg-chips-32 .farkpg-chip--32 { display: block; }
.farkpg-chips-33 .farkpg-chip--1,
.farkpg-chips-33 .farkpg-chip--2,
.farkpg-chips-33 .farkpg-chip--3,
.farkpg-chips-33 .farkpg-chip--4,
.farkpg-chips-33 .farkpg-chip--5,
.farkpg-chips-33 .farkpg-chip--6,
.farkpg-chips-33 .farkpg-chip--7,
.farkpg-chips-33 .farkpg-chip--8,
.farkpg-chips-33 .farkpg-chip--9,
.farkpg-chips-33 .farkpg-chip--10,
.farkpg-chips-33 .farkpg-chip--11,
.farkpg-chips-33 .farkpg-chip--12,
.farkpg-chips-33 .farkpg-chip--13,
.farkpg-chips-33 .farkpg-chip--14,
.farkpg-chips-33 .farkpg-chip--15,
.farkpg-chips-33 .farkpg-chip--16,
.farkpg-chips-33 .farkpg-chip--17,
.farkpg-chips-33 .farkpg-chip--18,
.farkpg-chips-33 .farkpg-chip--19,
.farkpg-chips-33 .farkpg-chip--20,
.farkpg-chips-33 .farkpg-chip--21,
.farkpg-chips-33 .farkpg-chip--22,
.farkpg-chips-33 .farkpg-chip--23,
.farkpg-chips-33 .farkpg-chip--24,
.farkpg-chips-33 .farkpg-chip--25,
.farkpg-chips-33 .farkpg-chip--26,
.farkpg-chips-33 .farkpg-chip--27,
.farkpg-chips-33 .farkpg-chip--28,
.farkpg-chips-33 .farkpg-chip--29,
.farkpg-chips-33 .farkpg-chip--30,
.farkpg-chips-33 .farkpg-chip--31,
.farkpg-chips-33 .farkpg-chip--32,
.farkpg-chips-33 .farkpg-chip--33 { display: block; }
.farkpg-chips-34 .farkpg-chip--1,
.farkpg-chips-34 .farkpg-chip--2,
.farkpg-chips-34 .farkpg-chip--3,
.farkpg-chips-34 .farkpg-chip--4,
.farkpg-chips-34 .farkpg-chip--5,
.farkpg-chips-34 .farkpg-chip--6,
.farkpg-chips-34 .farkpg-chip--7,
.farkpg-chips-34 .farkpg-chip--8,
.farkpg-chips-34 .farkpg-chip--9,
.farkpg-chips-34 .farkpg-chip--10,
.farkpg-chips-34 .farkpg-chip--11,
.farkpg-chips-34 .farkpg-chip--12,
.farkpg-chips-34 .farkpg-chip--13,
.farkpg-chips-34 .farkpg-chip--14,
.farkpg-chips-34 .farkpg-chip--15,
.farkpg-chips-34 .farkpg-chip--16,
.farkpg-chips-34 .farkpg-chip--17,
.farkpg-chips-34 .farkpg-chip--18,
.farkpg-chips-34 .farkpg-chip--19,
.farkpg-chips-34 .farkpg-chip--20,
.farkpg-chips-34 .farkpg-chip--21,
.farkpg-chips-34 .farkpg-chip--22,
.farkpg-chips-34 .farkpg-chip--23,
.farkpg-chips-34 .farkpg-chip--24,
.farkpg-chips-34 .farkpg-chip--25,
.farkpg-chips-34 .farkpg-chip--26,
.farkpg-chips-34 .farkpg-chip--27,
.farkpg-chips-34 .farkpg-chip--28,
.farkpg-chips-34 .farkpg-chip--29,
.farkpg-chips-34 .farkpg-chip--30,
.farkpg-chips-34 .farkpg-chip--31,
.farkpg-chips-34 .farkpg-chip--32,
.farkpg-chips-34 .farkpg-chip--33,
.farkpg-chips-34 .farkpg-chip--34 { display: block; }
.farkpg-chips-35 .farkpg-chip--1,
.farkpg-chips-35 .farkpg-chip--2,
.farkpg-chips-35 .farkpg-chip--3,
.farkpg-chips-35 .farkpg-chip--4,
.farkpg-chips-35 .farkpg-chip--5,
.farkpg-chips-35 .farkpg-chip--6,
.farkpg-chips-35 .farkpg-chip--7,
.farkpg-chips-35 .farkpg-chip--8,
.farkpg-chips-35 .farkpg-chip--9,
.farkpg-chips-35 .farkpg-chip--10,
.farkpg-chips-35 .farkpg-chip--11,
.farkpg-chips-35 .farkpg-chip--12,
.farkpg-chips-35 .farkpg-chip--13,
.farkpg-chips-35 .farkpg-chip--14,
.farkpg-chips-35 .farkpg-chip--15,
.farkpg-chips-35 .farkpg-chip--16,
.farkpg-chips-35 .farkpg-chip--17,
.farkpg-chips-35 .farkpg-chip--18,
.farkpg-chips-35 .farkpg-chip--19,
.farkpg-chips-35 .farkpg-chip--20,
.farkpg-chips-35 .farkpg-chip--21,
.farkpg-chips-35 .farkpg-chip--22,
.farkpg-chips-35 .farkpg-chip--23,
.farkpg-chips-35 .farkpg-chip--24,
.farkpg-chips-35 .farkpg-chip--25,
.farkpg-chips-35 .farkpg-chip--26,
.farkpg-chips-35 .farkpg-chip--27,
.farkpg-chips-35 .farkpg-chip--28,
.farkpg-chips-35 .farkpg-chip--29,
.farkpg-chips-35 .farkpg-chip--30,
.farkpg-chips-35 .farkpg-chip--31,
.farkpg-chips-35 .farkpg-chip--32,
.farkpg-chips-35 .farkpg-chip--33,
.farkpg-chips-35 .farkpg-chip--34,
.farkpg-chips-35 .farkpg-chip--35 { display: block; }
.farkpg-chips-36 .farkpg-chip--1,
.farkpg-chips-36 .farkpg-chip--2,
.farkpg-chips-36 .farkpg-chip--3,
.farkpg-chips-36 .farkpg-chip--4,
.farkpg-chips-36 .farkpg-chip--5,
.farkpg-chips-36 .farkpg-chip--6,
.farkpg-chips-36 .farkpg-chip--7,
.farkpg-chips-36 .farkpg-chip--8,
.farkpg-chips-36 .farkpg-chip--9,
.farkpg-chips-36 .farkpg-chip--10,
.farkpg-chips-36 .farkpg-chip--11,
.farkpg-chips-36 .farkpg-chip--12,
.farkpg-chips-36 .farkpg-chip--13,
.farkpg-chips-36 .farkpg-chip--14,
.farkpg-chips-36 .farkpg-chip--15,
.farkpg-chips-36 .farkpg-chip--16,
.farkpg-chips-36 .farkpg-chip--17,
.farkpg-chips-36 .farkpg-chip--18,
.farkpg-chips-36 .farkpg-chip--19,
.farkpg-chips-36 .farkpg-chip--20,
.farkpg-chips-36 .farkpg-chip--21,
.farkpg-chips-36 .farkpg-chip--22,
.farkpg-chips-36 .farkpg-chip--23,
.farkpg-chips-36 .farkpg-chip--24,
.farkpg-chips-36 .farkpg-chip--25,
.farkpg-chips-36 .farkpg-chip--26,
.farkpg-chips-36 .farkpg-chip--27,
.farkpg-chips-36 .farkpg-chip--28,
.farkpg-chips-36 .farkpg-chip--29,
.farkpg-chips-36 .farkpg-chip--30,
.farkpg-chips-36 .farkpg-chip--31,
.farkpg-chips-36 .farkpg-chip--32,
.farkpg-chips-36 .farkpg-chip--33,
.farkpg-chips-36 .farkpg-chip--34,
.farkpg-chips-36 .farkpg-chip--35,
.farkpg-chips-36 .farkpg-chip--36 { display: block; }
.farkpg-chips-37 .farkpg-chip--1,
.farkpg-chips-37 .farkpg-chip--2,
.farkpg-chips-37 .farkpg-chip--3,
.farkpg-chips-37 .farkpg-chip--4,
.farkpg-chips-37 .farkpg-chip--5,
.farkpg-chips-37 .farkpg-chip--6,
.farkpg-chips-37 .farkpg-chip--7,
.farkpg-chips-37 .farkpg-chip--8,
.farkpg-chips-37 .farkpg-chip--9,
.farkpg-chips-37 .farkpg-chip--10,
.farkpg-chips-37 .farkpg-chip--11,
.farkpg-chips-37 .farkpg-chip--12,
.farkpg-chips-37 .farkpg-chip--13,
.farkpg-chips-37 .farkpg-chip--14,
.farkpg-chips-37 .farkpg-chip--15,
.farkpg-chips-37 .farkpg-chip--16,
.farkpg-chips-37 .farkpg-chip--17,
.farkpg-chips-37 .farkpg-chip--18,
.farkpg-chips-37 .farkpg-chip--19,
.farkpg-chips-37 .farkpg-chip--20,
.farkpg-chips-37 .farkpg-chip--21,
.farkpg-chips-37 .farkpg-chip--22,
.farkpg-chips-37 .farkpg-chip--23,
.farkpg-chips-37 .farkpg-chip--24,
.farkpg-chips-37 .farkpg-chip--25,
.farkpg-chips-37 .farkpg-chip--26,
.farkpg-chips-37 .farkpg-chip--27,
.farkpg-chips-37 .farkpg-chip--28,
.farkpg-chips-37 .farkpg-chip--29,
.farkpg-chips-37 .farkpg-chip--30,
.farkpg-chips-37 .farkpg-chip--31,
.farkpg-chips-37 .farkpg-chip--32,
.farkpg-chips-37 .farkpg-chip--33,
.farkpg-chips-37 .farkpg-chip--34,
.farkpg-chips-37 .farkpg-chip--35,
.farkpg-chips-37 .farkpg-chip--36,
.farkpg-chips-37 .farkpg-chip--37 { display: block; }
.farkpg-chips-38 .farkpg-chip--1,
.farkpg-chips-38 .farkpg-chip--2,
.farkpg-chips-38 .farkpg-chip--3,
.farkpg-chips-38 .farkpg-chip--4,
.farkpg-chips-38 .farkpg-chip--5,
.farkpg-chips-38 .farkpg-chip--6,
.farkpg-chips-38 .farkpg-chip--7,
.farkpg-chips-38 .farkpg-chip--8,
.farkpg-chips-38 .farkpg-chip--9,
.farkpg-chips-38 .farkpg-chip--10,
.farkpg-chips-38 .farkpg-chip--11,
.farkpg-chips-38 .farkpg-chip--12,
.farkpg-chips-38 .farkpg-chip--13,
.farkpg-chips-38 .farkpg-chip--14,
.farkpg-chips-38 .farkpg-chip--15,
.farkpg-chips-38 .farkpg-chip--16,
.farkpg-chips-38 .farkpg-chip--17,
.farkpg-chips-38 .farkpg-chip--18,
.farkpg-chips-38 .farkpg-chip--19,
.farkpg-chips-38 .farkpg-chip--20,
.farkpg-chips-38 .farkpg-chip--21,
.farkpg-chips-38 .farkpg-chip--22,
.farkpg-chips-38 .farkpg-chip--23,
.farkpg-chips-38 .farkpg-chip--24,
.farkpg-chips-38 .farkpg-chip--25,
.farkpg-chips-38 .farkpg-chip--26,
.farkpg-chips-38 .farkpg-chip--27,
.farkpg-chips-38 .farkpg-chip--28,
.farkpg-chips-38 .farkpg-chip--29,
.farkpg-chips-38 .farkpg-chip--30,
.farkpg-chips-38 .farkpg-chip--31,
.farkpg-chips-38 .farkpg-chip--32,
.farkpg-chips-38 .farkpg-chip--33,
.farkpg-chips-38 .farkpg-chip--34,
.farkpg-chips-38 .farkpg-chip--35,
.farkpg-chips-38 .farkpg-chip--36,
.farkpg-chips-38 .farkpg-chip--37,
.farkpg-chips-38 .farkpg-chip--38 { display: block; }
.farkpg-chips-39 .farkpg-chip--1,
.farkpg-chips-39 .farkpg-chip--2,
.farkpg-chips-39 .farkpg-chip--3,
.farkpg-chips-39 .farkpg-chip--4,
.farkpg-chips-39 .farkpg-chip--5,
.farkpg-chips-39 .farkpg-chip--6,
.farkpg-chips-39 .farkpg-chip--7,
.farkpg-chips-39 .farkpg-chip--8,
.farkpg-chips-39 .farkpg-chip--9,
.farkpg-chips-39 .farkpg-chip--10,
.farkpg-chips-39 .farkpg-chip--11,
.farkpg-chips-39 .farkpg-chip--12,
.farkpg-chips-39 .farkpg-chip--13,
.farkpg-chips-39 .farkpg-chip--14,
.farkpg-chips-39 .farkpg-chip--15,
.farkpg-chips-39 .farkpg-chip--16,
.farkpg-chips-39 .farkpg-chip--17,
.farkpg-chips-39 .farkpg-chip--18,
.farkpg-chips-39 .farkpg-chip--19,
.farkpg-chips-39 .farkpg-chip--20,
.farkpg-chips-39 .farkpg-chip--21,
.farkpg-chips-39 .farkpg-chip--22,
.farkpg-chips-39 .farkpg-chip--23,
.farkpg-chips-39 .farkpg-chip--24,
.farkpg-chips-39 .farkpg-chip--25,
.farkpg-chips-39 .farkpg-chip--26,
.farkpg-chips-39 .farkpg-chip--27,
.farkpg-chips-39 .farkpg-chip--28,
.farkpg-chips-39 .farkpg-chip--29,
.farkpg-chips-39 .farkpg-chip--30,
.farkpg-chips-39 .farkpg-chip--31,
.farkpg-chips-39 .farkpg-chip--32,
.farkpg-chips-39 .farkpg-chip--33,
.farkpg-chips-39 .farkpg-chip--34,
.farkpg-chips-39 .farkpg-chip--35,
.farkpg-chips-39 .farkpg-chip--36,
.farkpg-chips-39 .farkpg-chip--37,
.farkpg-chips-39 .farkpg-chip--38,
.farkpg-chips-39 .farkpg-chip--39 { display: block; }
.farkpg-chips-40 .farkpg-chip--1,
.farkpg-chips-40 .farkpg-chip--2,
.farkpg-chips-40 .farkpg-chip--3,
.farkpg-chips-40 .farkpg-chip--4,
.farkpg-chips-40 .farkpg-chip--5,
.farkpg-chips-40 .farkpg-chip--6,
.farkpg-chips-40 .farkpg-chip--7,
.farkpg-chips-40 .farkpg-chip--8,
.farkpg-chips-40 .farkpg-chip--9,
.farkpg-chips-40 .farkpg-chip--10,
.farkpg-chips-40 .farkpg-chip--11,
.farkpg-chips-40 .farkpg-chip--12,
.farkpg-chips-40 .farkpg-chip--13,
.farkpg-chips-40 .farkpg-chip--14,
.farkpg-chips-40 .farkpg-chip--15,
.farkpg-chips-40 .farkpg-chip--16,
.farkpg-chips-40 .farkpg-chip--17,
.farkpg-chips-40 .farkpg-chip--18,
.farkpg-chips-40 .farkpg-chip--19,
.farkpg-chips-40 .farkpg-chip--20,
.farkpg-chips-40 .farkpg-chip--21,
.farkpg-chips-40 .farkpg-chip--22,
.farkpg-chips-40 .farkpg-chip--23,
.farkpg-chips-40 .farkpg-chip--24,
.farkpg-chips-40 .farkpg-chip--25,
.farkpg-chips-40 .farkpg-chip--26,
.farkpg-chips-40 .farkpg-chip--27,
.farkpg-chips-40 .farkpg-chip--28,
.farkpg-chips-40 .farkpg-chip--29,
.farkpg-chips-40 .farkpg-chip--30,
.farkpg-chips-40 .farkpg-chip--31,
.farkpg-chips-40 .farkpg-chip--32,
.farkpg-chips-40 .farkpg-chip--33,
.farkpg-chips-40 .farkpg-chip--34,
.farkpg-chips-40 .farkpg-chip--35,
.farkpg-chips-40 .farkpg-chip--36,
.farkpg-chips-40 .farkpg-chip--37,
.farkpg-chips-40 .farkpg-chip--38,
.farkpg-chips-40 .farkpg-chip--39,
.farkpg-chips-40 .farkpg-chip--40 { display: block; }
.farkpg-chips-cols-1 .farkpg-chip-column--1 { display: block; }
.farkpg-chips-cols-2 .farkpg-chip-column--1,
.farkpg-chips-cols-2 .farkpg-chip-column--2 { display: block; }
.farkpg-chips-cols-3 .farkpg-chip-column--1,
.farkpg-chips-cols-3 .farkpg-chip-column--2,
.farkpg-chips-cols-3 .farkpg-chip-column--3 { display: block; }
.farkpg-chips-cols-4 .farkpg-chip-column--1,
.farkpg-chips-cols-4 .farkpg-chip-column--2,
.farkpg-chips-cols-4 .farkpg-chip-column--3,
.farkpg-chips-cols-4 .farkpg-chip-column--4 { display: block; }
.farkpg-chips-cols-5 .farkpg-chip-column--1,
.farkpg-chips-cols-5 .farkpg-chip-column--2,
.farkpg-chips-cols-5 .farkpg-chip-column--3,
.farkpg-chips-cols-5 .farkpg-chip-column--4,
.farkpg-chips-cols-5 .farkpg-chip-column--5 { display: block; }
.farkpg-chips-cols-6 .farkpg-chip-column--1,
.farkpg-chips-cols-6 .farkpg-chip-column--2,
.farkpg-chips-cols-6 .farkpg-chip-column--3,
.farkpg-chips-cols-6 .farkpg-chip-column--4,
.farkpg-chips-cols-6 .farkpg-chip-column--5,
.farkpg-chips-cols-6 .farkpg-chip-column--6 { display: block; }
.farkpg-chips-cols-7 .farkpg-chip-column--1,
.farkpg-chips-cols-7 .farkpg-chip-column--2,
.farkpg-chips-cols-7 .farkpg-chip-column--3,
.farkpg-chips-cols-7 .farkpg-chip-column--4,
.farkpg-chips-cols-7 .farkpg-chip-column--5,
.farkpg-chips-cols-7 .farkpg-chip-column--6,
.farkpg-chips-cols-7 .farkpg-chip-column--7 { display: block; }
.farkpg-chips-cols-8 .farkpg-chip-column--1,
.farkpg-chips-cols-8 .farkpg-chip-column--2,
.farkpg-chips-cols-8 .farkpg-chip-column--3,
.farkpg-chips-cols-8 .farkpg-chip-column--4,
.farkpg-chips-cols-8 .farkpg-chip-column--5,
.farkpg-chips-cols-8 .farkpg-chip-column--6,
.farkpg-chips-cols-8 .farkpg-chip-column--7,
.farkpg-chips-cols-8 .farkpg-chip-column--8 { display: block; }
.farkpg-chip-column--1 .farkpg-chip--1 { --chip-layer: 0; }
.farkpg-chip-column--1 .farkpg-chip--2 { --chip-layer: 1; }
.farkpg-chip-column--1 .farkpg-chip--3 { --chip-layer: 2; }
.farkpg-chip-column--1 .farkpg-chip--4 { --chip-layer: 3; }
.farkpg-chip-column--1 .farkpg-chip--5 { --chip-layer: 4; }
.farkpg-chip-column--2 .farkpg-chip--6 { --chip-layer: 0; }
.farkpg-chip-column--2 .farkpg-chip--7 { --chip-layer: 1; }
.farkpg-chip-column--2 .farkpg-chip--8 { --chip-layer: 2; }
.farkpg-chip-column--2 .farkpg-chip--9 { --chip-layer: 3; }
.farkpg-chip-column--2 .farkpg-chip--10 { --chip-layer: 4; }
.farkpg-chip-column--3 .farkpg-chip--11 { --chip-layer: 0; }
.farkpg-chip-column--3 .farkpg-chip--12 { --chip-layer: 1; }
.farkpg-chip-column--3 .farkpg-chip--13 { --chip-layer: 2; }
.farkpg-chip-column--3 .farkpg-chip--14 { --chip-layer: 3; }
.farkpg-chip-column--3 .farkpg-chip--15 { --chip-layer: 4; }
.farkpg-chip-column--4 .farkpg-chip--16 { --chip-layer: 0; }
.farkpg-chip-column--4 .farkpg-chip--17 { --chip-layer: 1; }
.farkpg-chip-column--4 .farkpg-chip--18 { --chip-layer: 2; }
.farkpg-chip-column--4 .farkpg-chip--19 { --chip-layer: 3; }
.farkpg-chip-column--4 .farkpg-chip--20 { --chip-layer: 4; }
.farkpg-chip-column--5 .farkpg-chip--21 { --chip-layer: 0; }
.farkpg-chip-column--5 .farkpg-chip--22 { --chip-layer: 1; }
.farkpg-chip-column--5 .farkpg-chip--23 { --chip-layer: 2; }
.farkpg-chip-column--5 .farkpg-chip--24 { --chip-layer: 3; }
.farkpg-chip-column--5 .farkpg-chip--25 { --chip-layer: 4; }
.farkpg-chip-column--6 .farkpg-chip--26 { --chip-layer: 0; }
.farkpg-chip-column--6 .farkpg-chip--27 { --chip-layer: 1; }
.farkpg-chip-column--6 .farkpg-chip--28 { --chip-layer: 2; }
.farkpg-chip-column--6 .farkpg-chip--29 { --chip-layer: 3; }
.farkpg-chip-column--6 .farkpg-chip--30 { --chip-layer: 4; }
.farkpg-chip-column--7 .farkpg-chip--31 { --chip-layer: 0; }
.farkpg-chip-column--7 .farkpg-chip--32 { --chip-layer: 1; }
.farkpg-chip-column--7 .farkpg-chip--33 { --chip-layer: 2; }
.farkpg-chip-column--7 .farkpg-chip--34 { --chip-layer: 3; }
.farkpg-chip-column--7 .farkpg-chip--35 { --chip-layer: 4; }
.farkpg-chip-column--8 .farkpg-chip--36 { --chip-layer: 0; }
.farkpg-chip-column--8 .farkpg-chip--37 { --chip-layer: 1; }
.farkpg-chip-column--8 .farkpg-chip--38 { --chip-layer: 2; }
.farkpg-chip-column--8 .farkpg-chip--39 { --chip-layer: 3; }
.farkpg-chip-column--8 .farkpg-chip--40 { --chip-layer: 4; }
